.form2{
    display: flex;
    
    position: relative;
    left:58%;
    bottom:90px;
    width: 42%;
    height:90px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(71,3,6,0.7);
}
form{
    display: flex;
    background: #fff;
    box-shadow: 0 5px 10px rgba(71,3,6,0.7);
    width: 40%;
}
form .title{
    color: #252525;
    font-size: 35px;
    font-weight: 800;
}
form label{
    margin-bottom: 35px;
}
form label .fa-solid{
    font-size: 20px;
    color: red;
    margin-right: 10px;
}
form label input{
    outline: none;
    border: none;
    color: #252525;
    border-bottom: solid 1px #ce1d61;
    padding: 0 5px;
    font-size: 18px;
}
form label input ::placeholder{
    color: black;
}
form button{
    color: #fff;
    border: none;
    background: linear-gradient(to right, #cb232c,#ce1d61);
    padding: 10px 15px;
    cursor: pointer;
    
    font-size: 20px;
}
.container{
    background: linear-gradient(90deg, #46b3fc 0%, #fbbf3f 100%);
	height: 10vh;
    width: 20vh;
}
.clima{
	display: flex;
    margin-top: 30px;
    justify-content: center;
    font-size: 1rem;
    font-weight: 800;
    position: relative;
    bottom: 420px;
    

    text-shadow: 0.5px 1px 4px white;
}
