*{
    background-color:#FCFCD4;
}
.formulario{
    text-align: center;
    align-items: center;

    
}

.opciones{
    color: black !important;
    background-color: #C1D9BA !important;
    width: 50% !important;
    text-align: center;
    align-content: center;
    position: relative;
    left: 30rem;
}
#select2{
    position: relative;
    top: 1rem;
}
.form-control{
    width: 50% !important;
    position: relative;
    left: 30rem;

}
#cuota_seleccionada{
color: blue;
font-size: 20px;
position: relative;
top: 20px;
}

